useDynLib(DMCfun, .registration=TRUE)
exportPattern("addDataDF")
exportPattern("addErrorBars")
exportPattern("calculateCAF")
exportPattern("calculateDelta")
exportPattern("calculateCostValueRMSE")
exportPattern("calculateCostValueSPE")
exportPattern("calculateCostValueGS")
exportPattern("calculateCostValueCS")
exportPattern("calculateBinProbabilities")
exportPattern("createDF")
exportPattern("dmcCombineObservedData")
exportPattern("dmcFit")
exportPattern("dmcFitDE")
exportPattern("dmcFitSubject")
exportPattern("dmcFitSubjectDE")
exportPattern("dmcObservedData")
exportPattern("dmcSim")
exportPattern("dmcSims")
exportPattern("errDist")
exportPattern("rtDist")
importFrom("Rcpp", "evalCpp")
importFrom("stats", "rt", "time", "runif", "rnorm", "sd", "quantile", "rbeta", "ecdf", "density", "setNames", "optim")
importFrom("graphics", "hist", "plot", "lines", "layout", "par", "axis", "legend", "abline", "title")
importFrom("grDevices", "dev.off", "pdf", "colorRampPalette")
importFrom("utils", "data", "read.table", "modifyList", "txtProgressBar", "setTxtProgressBar", "tail", "packageVersion")
importFrom("methods", "is")
importFrom("dplyr", "n", "group_by", "summarize", "mutate", "ntile", "%>%")
importFrom("tidyr", "pivot_wider")
importFrom("parallel", "detectCores", "makeCluster", "stopCluster")
importFrom("pbapply", "pblapply")
S3method("[", dmclist)
S3method(plot, dmcsim)
S3method(plot, dmcob)
S3method(plot, dmcobs)
S3method(plot, dmclist)
S3method(plot, dmcfit)
S3method(plot, dmcfit_subject)
S3method(plot, dmcfits)
S3method(plot, dmcfits_subject)
S3method(summary, dmcsim)
S3method(summary, dmcfit)
S3method(summary, dmcfits)
S3method(summary, dmcfit_subject)
S3method(summary, dmcfits_subject)
S3method(mean, dmcfit_subject)
