useDynLib(DMCfun, .registration=TRUE)
exportPattern("^[[:alpha:]]+")
importFrom("Rcpp", "evalCpp")
importFrom("stats", "runif", "rnorm", "sd", "quantile", "rbeta", "ecdf", "density", "setNames")
importFrom("graphics", "plot", "lines", "layout", "par", "axis", "legend", "abline")
importFrom("grDevices", "dev.off", "pdf", "colorRampPalette")
importFrom("utils", "modifyList", "txtProgressBar", "setTxtProgressBar", "tail")
importFrom("dplyr", "n", "group_by", "summarize", "mutate", "ntile", "%>%")
importFrom("foreach", "%dopar%", "foreach")
importFrom("tidyselect", "all_of")
importFrom("parallel", "detectCores", "makeCluster", "stopCluster")
importFrom("doSNOW", "registerDoSNOW")
S3method("[", dmclist)
S3method(plot, dmcsim)
S3method(plot, dmcfit)
S3method(plot, dmcfitvp)
S3method(plot, dmcob)
S3method(plot, dmclist)
S3method(summary, dmcsim)
S3method(summary, dmcfit)
S3method(summary, dmcfitvp)
S3method(mean, dmcfitvp)
